
@{
}

<div class="row">
    <div class="col-md-3">
        @Html.ActionLink("Start Preview", "StartPreview", null, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("End Preview", "EndPreview", null, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Authorized Or Preview", "AuthorizedOrPreview", null, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Authorized Only", "AuthorizedOnly", null, new { @class = "btn btn-default" })
    </div>
</div>

