@{
    ViewBag.Title = "Authorized Only";
}

<h1>@ViewBag.Title</h1>
<p>
    Welcome to the authorized only section. You should only be able to see this page if you are logged in. Look at the top-right to see you login name and the logout button.
</p>
@Html.Partial("_PreviewActions")

