@{
    ViewBag.Title = "End Preview";
}
<h1>@ViewBag.Title</h1>
<p>
    Preview session ended. Now try accessing either an authorized only or preview/authorized action. You should get redirected to the login page.
</p>
@Html.Partial("_PreviewActions")
