@{
    ViewBag.Title = "Home Page";
}

<h1>@ViewBag.Title</h1>
<p>
    Welcome to Free Preview! A simple way to offer a "no login" demo of your ASP.Net MVC web app.
</p>
<p>
    This demo shows you a contrived example of an app with four actions:
</p>
<ol>
    <li>Start a Session - Starts a new preview session of the app, granting access to the "Authorized or Preview" action, but not granting to the "authorized only" action</li>
    <li>End a Session - Ends the current preview session, if any. This should restrict access for both restricted actions below.</li>
    <li>Authorzed or Preview - This action works if you are a logged in user OR have started a preview session</li>
    <li>Authorized Only - This action is only available if you are logged into the system</li>
</ol>
<p>
    To see the basic functionality, try combinations of th actions below. You can also register to create an account to try the "authorized only" action. Finally, you can see the contents of the Preview Session table in the database using the @Html.ActionLink("Preview Sessions", "Index", "Preview") link on the navbar.
</p>
@Html.Partial("_PreviewActions")