@{
    ViewBag.Title = "RedirectPreviewAllowAnonymous";
}

<h2>Redirect Preview, Deny Anonymous</h2>
<p>
    This action redirects back to the home page if visited by an live preview session; otherwise, it only lets authenticated users in
</p>
@Html.Partial("_PreviewActions")