@{
    ViewBag.Title = "RedirectPreviewAllowAnonymous";
}

<h2>Redirect Preview, Allow Anonymous</h2>
<p>
   This action redirects back to the home page if visited by an live preview session; otherwise, it lets anyone in
</p>
@Html.Partial("_PreviewActions")